// Border radius
.b-radius-t-10
    border-radius: 10px 10px 0px 0px
.b-radius-10
    border-radius: 10px
.b-radius-15
    border-radius: 15px
.b-radius-20
    border-radius: 20px

// remove Border
.b-r
    border: 0px
.b-r-bottom
    border-bottom-width: 0px !important
.b-r-top
    border-top-width: 0px !important
.b-r-left
    border-left-width: 0px !important
.b-r-right
    border-right-width: 0px !important