// Font Color
.c-primary
    color: #fd9652 !important
    
.c-orange
    color: orange !important

.c-yellow
    color: yellow !important

.c-white
    color: white !important

.c-black
    color: #000 !important

.c-gray
    color: #333 !important

.c-blue
    color: blue !important

.c-green
    color: green !important

.c-red
    color: red !important

.c-second
    color: darkgray !important

// Border color
.b-orange
    border: 1px solid orange