// Weight
.f-w-100
    font-weight: 100
.f-w-200
    font-weight: 200
.f-w-300
    font-weight: 300
.f-w-400
    font-weight: 400
.f-w-500
    font-weight: 500
.f-w-600
    font-weight: 600
.f-w-700
    font-weight: 700
.f-w-800
    font-weight: 800
.f-w-900
    font-weight: 900


// Size
.f-s-8
    font-size: 8px
.f-s-9
    font-size: 9px
.f-s-10
    font-size: 10px
.f-s-11
    font-size: 11px
.f-s-12
    font-size: 12px
.f-s-13
    font-size: 13px
.f-s-14
    font-size: 14px
.f-s-15
    font-size: 15px
.f-s-16
    font-size: 16px
.f-s-17
    font-size: 17px
.f-s-18
    font-size: 18px
.f-s-19
    font-size: 19px
.f-s-20
    font-size: 20px