
// Booking Complite
.content-complite
    .col-10.content
        min-height: 200px

#time-count-down
    margin-bottom: 15px
    .p-2
        background: orange
        margin-right: 1px
        color: #fff
        font-size: 30px
        padding: 0px 7px !important
        font-weight: 700
    .p-2.titik-dua
        background: transparent
        color: orange