// Chat Booking
.row.content-booking
    min-height: 300px
    .tabs-pesan.nav-tabs
        border-bottom: 0px
        .nav-item
            margin: 0px 1px
            .nav-link
                border: 0px
                border-radius: 10px 10px 0px 0px
            .nav-link.active.show
                border-radius: 10px 10px 0px 0px
    .content-pesan
        margin: 0px 1px
        border-radius: 0px 10px 10px 10px
        .tab-pane.show.active
            background: #fff !important
            border-radius: 0px 10px 10px 10px
    .papan-ketik-pesan
        .text-area
            width: 100%
            border: 0px
            outline: 0px
        .link
            outline: 0px
            border: 1px solid orange
            border-radius: 100%
            background: none
            cursor: pointer
    .btn-pesan
        padding: 5px 10px

#modalconfirm
    .table-date-pesan
        max-height: 180px
        overflow-x: scroll


// Media Queries
@media only screen and (max-width: 767px)
    // Chat Content
    .chat-content
        margin-top: 15px